body {
	font-family: sans-serif;
	margin: 0; padding: 0; border: 0;
}

ul, li {
	margin: 0;
	padding: 0;
}

h1 {
	background: url('imagens/logo_ta.jpg') no-repeat;
	height: 56px;
	margin: 0;
	padding: 10px 0 0 120px;
	font-size: 24pt;
}

h2 {
	margin: 0 0 10px 0;
}

#label-ciclovia				{ background-image: url('imagens/ciclovia.png');		}
#label-ciclofaixa			{ background-image: url('imagens/ciclofaixa.png');		}
#label-faixa-compartilhada	{ background-image: url('imagens/compartilhada.png')	}
#label-via-compartilhada	{ background-image: url('imagens/zona30.png')	}
#label-via-proibida			{ background-image: url('imagens/via-proibida.png');	}
#label-aluguel				{ background-image: url('imagens/aluguel.jpg');  		}
#label-bicicletario			{ background-image: url('imagens/bicicletario.jpg');	}
#label-bomba				{ background-image: url('imagens/bomba.jpg');			}
#label-chuveiro				{ background-image: url('imagens/chuveiro.jpg');		}
#label-oficina				{ background-image: url('imagens/oficina.jpg');			}

form ul.checkboxes li {
	height: 24px;
}

label.linha {
	padding-bottom: 5px;
}

label.ponto {
	background-position: 6px 0;
}

label {
	background-repeat: no-repeat;
	padding: 0 0 0 30px;
}

ul.colaborators {
	font-size: 12px;
}